<h1>Prospects</h1>
<button (click)="prospectService.getAll()">Load all</button>
<h4>Status:</h4>
<ul>
  <li>
    Loading:
    {{ prospectService.loading$ | async }}
  </li>
  <li>
    Loaded:
    {{ prospectService.loaded$ | async }}
  </li>
</ul>
<h4>All entities:</h4>
<div *ngIf="(prospectService.loaded$ | async) !== true">No data loaded yet</div>
<ul>
  <li *ngFor="let prospect of prospectService.entities$ | async">
    {{ prospect.name }}
  </li>
</ul>

<h1>Healthchekcs (one to many)</h1>
<button *ngFor="let id of [1, 2, 3]" (click)="getHealthchecksByProspect(id)">
  Get prospect {{ id }} healthchecks
</button>
<h4>Current prospect ID: {{ currentProspectId$ | async }}</h4>
<h4>Status:</h4>
<ul>
  <li>
    Loading:
    {{ healthcheckService.loading$ | async }}
  </li>
  <li *ngFor="let id of [1, 2, 3]">
    Loaded for prospect {{ id }}:
    {{ healthcheckService.selectHealthchecksLoaded(id) | async }}
  </li>
</ul>

<h4>Current prospect entities:</h4>
<div
  *ngIf="
    (healthcheckService.currentProspectHealthchecksLoaded$ | async) !== true
  "
>
  Prospect {{ currentProspectId$ | async }} healthchecks are not loaded yet
</div>
<div
  *ngIf="
    (healthcheckService.currentProspectHealthchecksLoaded$ | async) === true
  "
>
  <div
    *ngIf="
      (healthcheckService.currentProspectHealthchecks$ | async)?.length === 0
    "
  >
    Prospect {{ currentProspectId$ | async }} doesn't have healthchecks
  </div>
  <ul>
    <li
      *ngFor="
        let healthcheck of healthcheckService.currentProspectHealthchecks$
          | async
      "
    >
      {{ healthcheck.name }}
    </li>
  </ul>
</div>
<h4>All entities:</h4>
<div *ngIf="(healthcheckService.entities$ | async)?.length === 0">
  Collection is empty
</div>
<ul>
  <li *ngFor="let healthcheck of healthcheckService.entities$ | async">
    {{ healthcheck.name }}
  </li>
</ul>

<h1>Contacts (many to many)</h1>
<button *ngFor="let id of [1, 2, 3]" (click)="getContactsByProspect(id)">
  Get prospect {{ id }} contacts
</button>
<h4>Current prospect ID: {{ currentProspectId$ | async }}</h4>
<h4>Status:</h4>
<ul>
  <li>
    Loading:
    {{ contactService.loading$ | async }}
  </li>
  <li *ngFor="let id of [1, 2, 3]">
    Loaded for prospect {{ id }}:
    {{ prospectService.selectContactsLoaded(id) | async }}
  </li>
</ul>

<h4>Current prospect entities:</h4>
<div *ngIf="(prospectService.currentProspectContactsLoaded$ | async) !== true">
  Prospect {{ currentProspectId$ | async }} contacts are not loaded yet
</div>
<div *ngIf="(prospectService.currentProspectContactsLoaded$ | async) === true">
  <div *ngIf="(prospectService.currentProspectContacts$ | async)?.length === 0">
    Prospect {{ currentProspectId$ | async }} doesn't have contacts
  </div>
  <ul>
    <li
      *ngFor="let contact of prospectService.currentProspectContacts$ | async"
    >
      {{ contact.name }}
    </li>
  </ul>
</div>
<h4>All entities:</h4>
<div *ngIf="(contactService.entities$ | async)?.length === 0">
  Collection is empty
</div>
<ul>
  <li *ngFor="let contact of contactService.entities$ | async">
    {{ contact.name }}
  </li>
</ul>

<h1>Linked Contacts (many to many)</h1>
<button *ngFor="let id of [1, 2, 3]" (click)="getLinkedContactsByProspect(id)">
  Get prospect {{ id }} contacts
</button>
<h4>Current prospect ID: {{ currentProspectId$ | async }}</h4>
<h4>Status:</h4>
<ul>
  <li>
    Contacts or links are loading:
    {{ prospectContactLinkService.selectLinkedContactsLoading$ | async }}
  </li>
  <li *ngFor="let id of [1, 2, 3]">
    Prospect {{ id }} contacts and links are loaded:
    {{ prospectContactLinkService.selectLinkedContactsLoaded(id) | async }}
  </li>
</ul>

<h4>Current prospect entities:</h4>
<div
  *ngIf="
    (prospectContactLinkService.currentProspectLinkedContactsLoaded$
      | async) !== true
  "
>
  Prospect {{ currentProspectId$ | async }} contacts are not loaded yet
</div>
<div
  *ngIf="
    (prospectContactLinkService.currentProspectLinkedContactsLoaded$
      | async) === true
  "
>
  <div
    *ngIf="
      (prospectContactLinkService.currentProspectLinkedContacts$ | async)
        ?.length === 0
    "
  >
    Prospect {{ currentProspectId$ | async }} doesn't have contacts
  </div>
  <ul>
    <li
      *ngFor="
        let contact of prospectContactLinkService.currentProspectLinkedContacts$
          | async
      "
    >
      {{ contact.id }}
    </li>
  </ul>
</div>
<h4>All link entities:</h4>
<div *ngIf="(prospectContactLinkService.entities$ | async)?.length === 0">
  Collection is empty
</div>
<ul>
  <li *ngFor="let link of prospectContactLinkService.entities$ | async">
    {{ link.contactId }}
  </li>
</ul>

<router-outlet></router-outlet>
